{% extends 'base.html.twig' %}

{% block title %} Flight {% endblock %}

{% block body %}
    <h1 class="h1">Flights</h1>
    <hr/>
    <div>
        <a href="{{ url('newFlight') }}">Create a new flight</a> | <a href="{{ url('historyOfFlights') }}">Flight History</a>
    </div>
    <hr/>
{% endblock %}