{% extends 'base.html.twig' %}

{% block title %} Flight {% endblock %}

{% block body %}
    <h1 class="h1">Flights</h1>
    <hr/>
    <div>
        <a href="/flight/new">Create a new flight</a> | <a href="/flight/history">Flight History</a>
    </div>
    <hr/>
{% endblock %}