<div class="card">
    <div class="card-header">
        <img class="card-subtitle" style="margin-right: 1%;" src="https://www.countryflags.io/{{ pilot.country }}/shiny/32.png">
            {{ pilot.firstname }} {{ pilot.lastname }}
        <a href="{{ url('trainAPilot', {'id': pilot.id }) }}" class="card-link float-right">Train</a>
    </div>
</div>