{% extends "base.html.twig" %}

{% block body %}
    <h1>Welcome</h1>
    <p>This is a simple CRUD application in which you can create pilots and planes.</p>
    <p>You are able to make a pilot fly with a plane and see the history of the flights.</p>

    <p>Made by Brian Dendauw using Symfony 4</p>
{% endblock %}